body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

/* Colors and Branding */

.bc-primary {
    background-color: #1F2937;
}

.bc-secondary {
    background-color: #F9FAF8;
}

.bc-tertiary {
    background-color: #E5E7EB;
}

.bc-accent {
    background-color: #3882F6;
}

.tc-dark {
    color: #1F2937;
}

.tc-light {
    color: #F9FAF8;
}

.tc-medium {
    color: #E5E7EB;
}

/* Universal */

.container {
    padding: 1.5em;
    display: flex;
}

button {
    border: solid 2px #F9FAF8;
    padding: 10px 12px;
    text-align: center;
    border-radius: 8px;
}

button,
#cont-cta {
    font-size: 1.125em;
}

.feature-h2,
.quote {
    font-size: 2.25em;
}

/* Header */

header {
    padding: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 1.5em;
    font-weight: 700;
}

.header-nav {
    display: flex;
    justify-content: space-between;
}

.nav-link {
    margin: 0 1em;
}

/* Hero */

.hero-text,
.hero-image {
    flex-basis: 50%;
    flex-grow: 1;
}

.hero-text {
    margin: 0 1em 0 0;
}

.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
}

.hero-h1 {
    font-size: 3em;
    font-weight: 900;
}

.hero-p {
    font-size: 18px;
    margin: 1em 0;
}

/* Feature Section */

.cont-feature {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.feature-h2 {
    font-weight: 700;
    margin: 1em;
}

.cont-gallery,
.gallery-frame, 
.gallery-img {
    margin-bottom: 1em;
}

.cont-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 85%;
}

.gallery-frame {
    max-width: 250px;
    text-align: center;
}

.gallery-img {
    width: 150px;
    height: 150px;
    border: solid 3px #3882F6;
    border-radius: 8px;
}

/* Quote */

.cont-quote {
    background-color: #E5E7EB;
    padding: 4em 0;
}

.quote,
.quote-attr {
    min-width: 200px;
    max-width: 75%;
    margin: 0 auto;
}

.quote {
    font-weight: 300;
    font-style: italic;
    line-height: 1.25em;
}

.quote-attr {
    font-size: 1.15em;
    font-weight: bold;
    text-align: right;
}

/* Call to Action */

#cont-cta {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    padding: 2em;
    margin: 3em 8em;
}

.cta-h3 {
    font-weight: 700;
    margin-bottom: 0.15em;
}

.cta-p {
    font-size: 0.85em;
}

/* Footer */

footer {
    text-align: center;
    padding: 1em;
}
