body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

/* Multi-Section Styles */

header,
.hero-section,
footer {
    background-color: #1F2937;
}

button {
    border: solid 2px #F9FAF8;
    padding: 10px 12px;
    text-align: center;
    border-radius: 8px;
}

button,
.cta-section {
    background-color: #3882F6;
    font-size: 1.125em;
}

a,
button,
.header-logo,
.hero-text h1,
.cta-section,
footer {
    color: #F9FAF8;
}

.gallery-section,
.quote-section {
    color: #1F2937;
}

.gallery-section h2,
.quote {
    font-size: 2.25em;
}

/* Header */

header {
    padding: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 1.5em;
    font-weight: 700;
}

.header-links {
    display: flex;
    justify-content: space-around;
}

.header-links a {
    margin: 0 1em;
}

/* Hero */

.hero-section {
    padding: 1.5em;
    display: flex;
}

.hero-text,
.hero-image {
    flex-basis: 50%;
    flex-grow: 1;
}

.hero-text {
    margin: 0 1em 0 0;
}

.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
}

.hero-text h1 {
    font-size: 3em;
    font-weight: 900;
}

.hero-text p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 1em 0;
}

/* Gallery */

.gallery-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.gallery-section h2 {
    font-weight: 700;
    margin: 1em;
}

.gallery-img-container,
.gallery-img, 
.gallery-img img {
    margin-bottom: 1em;
}

.gallery-img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 85%;
}

.gallery-img {
    max-width: 250px;
    text-align: center;
}

.gallery-img img {
    width: 150px;
    height: 150px;
    border: solid 3px #3882F6;
    border-radius: 8px;
}

/* Quote */

.quote-section {
    background-color: #E5E7EB;
    padding: 4em 0;
}

.quote,
.quote-attr {
    min-width: 200px;
    max-width: 75%;
    margin: 0 auto;
}

.quote {
    font-weight: 300;
    font-style: italic;
    line-height: 1.25em;
}

.quote-attr {
    font-size: 1.15em;
    font-weight: bold;
    text-align: right;
}

/* Call to Action */

.cta-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    padding: 2em;
    margin: 3em 8em;
}

.cta-section h3 {
    font-weight: 700;
    margin-bottom: 0.15em;
}

.cta-section p {
    font-size: 0.85em;
}

/* Footer */

footer {
    text-align: center;
    padding: 1em;
}
